trunk/ZXService/ZXService.Business/obj
trunk/ZXService/ZXService.Business/bin
trunk/ZXService/ZXService.WebService/obj
trunk/ZXService/ZXService.WebService/bin
trunk/ZXService/ZXService.IWcfService/bin
trunk/ZXService/ZXService.IWcfService/obj
trunk/ZXService/ZXService.WcfService/bin
trunk/ZXService/ZXService.WcfService/obj
trunk/ZXService/ZXService.WebService/bin
trunk/ZXService/ZXService.WebService/obj
trunk/ZXService/ConsoleApplication1/bin
trunk/ZXService/ConsoleApplication1/obj
trunk/ZXService/ZXService.DataAccess/bin
trunk/ZXService/ZXService.DataAccess/obj
trunk/ZXService/ZXService.Cache/obj
trunk/ZXService/ZXService.Cache/bin
trunk/ZXService/ZXService.Common/bin
trunk/ZXService/ZXService.Common/obj
trunk/ZXService/ZXService.DataContracts/bin
trunk/ZXService/ZXService.DataContracts/obj
trunk/YYSolution/YY.DataAccess/obj
trunk/YYSolution/YY.DataAccess/bin
trunk/YYSolution/YY.DataAccess/obj
trunk/YYSolution/YY.DataAccess/bin
trunk/YYSolution/YY.DataModel/obj
trunk/YYSolution/YY.DataModel/bin
trunk/YYSolution/YY.Business/bin
trunk/YYSolution/YY.Business/obj
trunk/YYSolution/YY.WebService/obj
trunk/YYSolution/YY.WebService/bin
trunk/YYSolution/YY.IWcfService/obj
trunk/YYSolution/YY.IWcfService/bin
trunk/YYSolution/YY.WcfService/obj
trunk/YYSolution/YY.WcfService/bin




trunk/YYSolution/.vs/YYSolution/v15/Server/sqlite3/storage.ide-wal
trunk/YYSolution/.vs/YYSolution/v15/Server/sqlite3/storage.ide-shm
trunk/YYSolution/.vs/YYSolution/v15/Server/sqlite3/db.lock
trunk/YYSolution/.vs/config/applicationhost.config
trunk/YYSolution/.vs/YYSolution/v15/.suo
trunk/YYSolution/YY.WebService/Properties/PublishProfiles/FolderProfile.pubxml.user
trunk/YYSolution/.vs/YYSolution/v15/Server/sqlite3/storage.ide
trunk/YYSolution/YY.WebService/Properties/PublishProfiles/FolderProfile.pubxml
