<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <!--SQLServer数据库的连接字符串-->
    <!--天杰数据库-->
    <!--<add name="npgsql" providerName="System.Data.SqlClient"  connectionString="Data Source=120.26.60.55;Initial Catalog=ZX;User ID=ZX;Password=zx1234" />-->
    <!--天兮数据库-->
    <!--<add name="npgsql" providerName="System.Data.SqlClient"  connectionString="Data Source=118.24.7.165;Initial Catalog=ZX;User ID=zx;Password=zx1234" />-->
    <!--carWash DB-->
    <!--<add name="npgsql" providerName="npgsql"  connectionString="Data Source=118.25.108.201;Initial Catalog=yy_cw_db;User ID=dev;Password=123" />-->
    <!--<add name="npgsql" providerName="npgsql"  connectionString="118.25.108.201;database=yy_cw_db;uid=dev;pwd=123"/>-->
    <!--<add name="npgsql" providerName="npgsql" connectionString="Database='hf_DB';Data Source='129.204.116.46';User Id='hfDev';Password='Abc123';charset='utf8';pooling=true"/>-->
    <!--<add name="npgsql" providerName="npgsql" connectionString="Database='hf_DB';Data Source='129.204.116.46'; Port=3306;User Id='hfDev';Password='Abc123';pooling=true"/>-->
    <!--<add name="npgsql" providerName="npgsql" connectionString="Database='hf_DB';Data Source='129.204.116.46';User Id='root';Password='Abc123456';charset='utf8';pooling=true"/>-->
    <add name="npgsql" connectionString="Data Source=129.204.116.46; user id = hfDev; password = Abc123; database = hf_DB"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <services>
      <service name="Ac.WcfService.Service" behaviorConfiguration="ServiceConfig">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" behaviorConfiguration="webHttpBehavior" contract="Ac.IWcfService.IService"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP">
          <!--<security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>-->
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceConfig">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" policyVersion="Policy15"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>